body {
    font-family: monospace;
}

h1 {
    font-size: x-large;
}

form {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
}

div {
    display: flex;
    max-width: 80vw;
    flex-flow: column;
    align-items: baseline;
}

#camera {
    position: relative;
}

#camera video {
    margin-top: 10px;
    border: 1px solid #555;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

#camera canvas,
#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    border: 1px solid #555;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}


.invisible {
    visibility: hidden;
}

@keyframes astrodance {
    0% {
        transform: translate(-50%, -50%) rotate(-20deg)
    }

    50% {
        transform: translate(-50%, -50%) rotate(10deg)
    }

    to {
        transform: translate(-50%, -50%) rotate(-20deg)
    }
}

#loader {
    width: 32px;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    animation-name: astrodance;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border: none;
    background-color: transparent;
    padding-top: 30px;
}

#toolbar {
    position: relative;
    margin-top: 20px;
}

#buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 300px;
}

#buttons button {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #eee;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #fff;
}

#message {
    font-size: larger;
}