* @dfinity/editorial

/c/adventure/ @dfinity/growth
/c/qr/ @dfinity/growth
/c/reverse/ @dfinity/growth

/hosting/godot-html5-template/ @zhangwei983
/hosting/photo-storage/ @dfinity/sdk
/hosting/static-website/ @dfinity/sdk
/hosting/unity-webgl-template/ @zhangwei983

/motoko/actor_reference/ @dfinity/languages
/motoko/auth_client_demo/ @dfinity/sdk
/motoko/basic_bitcoin/ @dfinity/execution
/motoko/basic_dao/ @dfinity/languages
/motoko/calc/ @dfinity/languages
/motoko/cert-var/ @dfinity/trust
/motoko/classes/ @dfinity/languages
/motoko/composite_query/ @dfinity/languages
/motoko/counter/ @dfinity/languages
/motoko/defi/ @rumenov
/motoko/dip721-nft-container/ @dfinity/languages
/motoko/echo/ @dfinity/languages
/motoko/encrypted-notes-dapp-vetkd/ @dfinity/div-Crypto
/motoko/encrypted-notes-dapp/ @dfinity/div-Crypto
/motoko/factorial/ @dfinity/languages
/motoko/hello-world/ @dfinity/languages
/motoko/hello/ @dfinity/languages
/motoko/hello_cycles/ @dfinity/languages
/motoko/http_counter/ @rumenov
/motoko/ic-pos/ @dfinity/div-Crypto
/motoko/icrc2-swap/ @dfinity/div-Crypto
/motoko/internet_identity_integration/ @dfinity/gix
/motoko/invoice-canister/ @dfinity/FinInt
/motoko/ios-notifications/ @dfinity/trust
/motoko/ledger-transfer/ @dfinity/FinInt
/motoko/life/ @dfinity/languages
/motoko/minimal-counter-dapp/ @dfinity/growth
/motoko/persistent-storage/ @dfinity/growth
/motoko/phone-book/ @dfinity/growth
/motoko/pub-sub/ @dfinity/growth
/motoko/quicksort/ @dfinity/growth
/motoko/random_maze/ @dfinity/languages
/motoko/send_http_get/ @rumenov
/motoko/send_http_post/ @rumenov
/motoko/simple-to-do/ @dfinity/growth
/motoko/superheroes/ @dfinity/growth
/motoko/threshold-ecdsa/ @dfinity/div-Crypto
/motoko/vetkd/ @dfinity/div-Crypto
/motoko/whoami/ @dfinity/growth

/native-apps/unity_ii_applink/ @zhangwei983
/native-apps/unity_ii_deeplink/ @zhangwei983

/rust/basic_bitcoin/ @dfinity/execution
/rust/basic_dao/ @dfinity/testing-verification
/rust/canister-info/ @dfinity/testing-verification
/rust/composite_query/ @dfinity/execution
/rust/counter/ @dfinity/growth
/rust/defi/ @dfinity/div-Crypto
/rust/dip721-nft-container/ @dfinity/sdk
/rust/encrypted-notes-dapp-vetkd/ @dfinity/div-Crypto
/rust/encrypted-notes-dapp/ @dfinity/div-Crypto
/rust/hello/ @dfinity/sdk
/rust/nft-wallet/ @dfinity/growth
/rust/performance_counters/ @dfinity/runtime
/rust/periodic_tasks/ @dfinity/runtime
/rust/pub-sub/ @dfinity/growth
/rust/qrcode/ @dfinity/runtime
/rust/send_http_get/ @dfinity/growth
/rust/send_http_post/ @dfinity/growth
/rust/threshold-ecdsa/ @chmllr
/rust/tokens_transfer/ @dfinity/div-Crypto
/rust/vetkd/ @dfinity/div-Crypto

/svelte/svelte-motoko-starter/ @dfinity/sdk
/svelte/svelte-starter/ @dfinity/sdk
/svelte/sveltekit-starter/ @dfinity/sdk

/wasm/counter @dfinity/languages







