* @dfinity/editorial
.github/workflows/ninja_pr_checks.yml @dfinity/ninja-devs

/hosting/godot-html5-template/ @dfinity/sdk
/hosting/my_crypto_blog/ @dfinity/ninja-devs
/hosting/photo-storage/ @dfinity/sdk
/hosting/react/ @dfinity/ninja-devs
/hosting/oisy-signer-demo/ @dfinity/growth
/hosting/static-website/ @dfinity/sdk
/hosting/unity-webgl-template/ @dfinity/sdk

/motoko/basic_bitcoin/ @dfinity/defi-team
/motoko/backend_only/ @dfinity/ninja-devs
/motoko/canister_factory/ @dfinity/growth
/motoko/canister_logs/ @dfinity/team-dsm
/motoko/cert-var/ @dfinity/trust
/motoko/classes/ @dfinity/languages
/motoko/composite_query/ @dfinity/languages
/motoko/daily_planner/ @dfinity/ninja-devs
/motoko/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/motoko/evm_block_explorer/ @dfinity/ninja-devs
/motoko/filevault/ @dfinity/ninja-devs
/motoko/flying_ninja/ @dfinity/ninja-devs
/motoko/hello_cycles/ @dfinity/languages
/motoko/hello_world/ @dfinity/ninja-devs
/motoko/ic-pos/ @dfinity/growth
/motoko/icp_transfer/ @dfinity/defi-team
/motoko/icrc2-swap/ @dfinity/growth
/motoko/internet_identity_integration/ @dfinity/identity
/motoko/llm_chatbot/ @dfinity/ninja-devs
/motoko/low_wasm_memory/ @dfinity/languages
/motoko/nft-creator/ @dfinity/growth
/motoko/parallel_calls/ @dfinity/languages
/motoko/pub-sub/ @dfinity/growth
/motoko/query_stats/ @dfinity/sdk
/motoko/random_maze/ @dfinity/languages
/motoko/send_http_get/ @dfinity/growth
/motoko/send_http_post/ @dfinity/growth
/motoko/superheroes/ @dfinity/growth
/motoko/threshold-ecdsa/ @dfinity/crypto-team
/motoko/threshold-schnorr/ @dfinity/crypto-team
/motoko/tokenmania/ @dfinity/ninja-devs
/motoko/token_transfer/ @dfinity/defi-team
/motoko/token_transfer_from/ @dfinity/defi-team
/motoko/vetkd/ @dfinity/crypto-team
/motoko/who_am_i/ @dfinity/ninja-devs

/native-apps/unity_ii_applink/ @dfinity/sdk
/native-apps/unity_ii_deeplink/ @dfinity/sdk

/rust/basic_bitcoin/ @dfinity/defi-team
/rust/basic_ethereum/ @dfinity/defi-team
/rust/backend_only/ @dfinity/ninja-devs
/rust/backend_wasm64/ @dfinity/sdk
/rust/candid_type_generation @dfinity/governance-team
/rust/canister-info/ @dfinity/team-dsm
/rust/canister-snapshots/ @dfinity/team-dsm
/rust/canister-snapshot-download/ @dfinity/team-dsm
/rust/canister_logs/ @dfinity/team-dsm
/rust/composite_query/ @dfinity/team-dsm
/rust/daily_planner/ @dfinity/ninja-devs
/rust/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/rust/evm_block_explorer/ @dfinity/ninja-devs
/rust/exchange-rates/ @dfinity/defi-team
/rust/face-recognition/ @dfinity/team-dsm
/rust/flying_ninja/ @dfinity/ninja-devs
/rust/guards/ @dfinity/defi-team
/rust/hello_world/ @dfinity/ninja-devs
/rust/icp_transfer/ @dfinity/defi-team
/rust/image-classification/ @dfinity/team-dsm
/rust/inter-canister-calls/ @dfinity/team-dsm
/rust/llm_chatbot/ @dfinity/ninja-devs
/rust/low_wasm_memory/ @dfinity/team-dsm
/rust/parallel_calls/ @dfinity/research
/rust/performance_counters/ @dfinity/team-dsm
/rust/periodic_tasks/ @dfinity/team-dsm
/rust/qrcode/ @dfinity/team-dsm
/rust/query_stats/ @dfinity/consensus
/rust/send_http_get/ @dfinity/growth
/rust/send_http_post/ @dfinity/growth
/rust/simd/ @dfinity/team-dsm
/rust/stake_neuron_from_cli @dfinity/governance-team
/rust/threshold-ecdsa/ @dfinity/crypto-team
/rust/threshold-schnorr/ @dfinity/crypto-team
/rust/tokenmania/ @dfinity/ninja-devs
/rust/token_transfer/ @dfinity/defi-team
/rust/token_transfer_from/ @dfinity/defi-team
/rust/unit_testable_rust_canister @dfinity/governance-team
/rust/vetkd/ @dfinity/crypto-team
/rust/who_am_i/ @dfinity/ninja-devs
/rust/x509/ @dfinity/crypto-team

/svelte/svelte-motoko-starter/ @dfinity/sdk
/svelte/svelte-starter/ @dfinity/sdk
/svelte/sveltekit-starter/ @dfinity/sdk

/wasm/counter @dfinity/languages
