[submodule "QR-Code-generator"]
	path = c/qr/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
	branch = fd6917601d0a77b6b6df81599118212d8cdb9a27
[submodule "motoko/defi/DIP20"]
	path = motoko/defi/src/DIP20
	url = https://github.com/Psychedelic/DIP20.git
[submodule "rust/defi/DIP20"]
	path = rust/defi/src/DIP20
	url = https://github.com/Psychedelic/DIP20.git
[submodule "motoko/basic_bitcoin/motoko-bitcoin"]
	path = motoko/basic_bitcoin/motoko-bitcoin
	url = https://github.com/tgalal/motoko-bitcoin
[submodule "svelte/svelte-starter/internet-identity"]
	path = svelte/svelte-starter/internet-identity
	url = https://github.com/dfinity/internet-identity.git
[submodule "svelte/svelte-motoko-starter/internet-identity"]
	path = svelte/svelte-motoko-starter/internet-identity
	url = https://github.com/dfinity/internet-identity.git
