[submodule "QR-Code-generator"]
	path = archive/c/qr/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator
	branch = fd6917601d0a77b6b6df81599118212d8cdb9a27
[submodule "svelte/svelte-starter/internet-identity"]
	path = svelte/svelte-starter/internet-identity
	url = https://github.com/dfinity/internet-identity.git
[submodule "svelte/svelte-motoko-starter/internet-identity"]
	path = svelte/svelte-motoko-starter/internet-identity
	url = https://github.com/dfinity/internet-identity.git
[submodule "archive/motoko/defi/src/DIP20"]
	path = archive/motoko/defi/src/DIP20
	url = https://github.com/Psychedelic/DIP20.git
[submodule "archive/rust/defi/src/DIP20"]
	path = archive/rust/defi/src/DIP20
	url = https://github.com/Psychedelic/DIP20.git
[submodule "rust/sns-kongswap-adaptor"]
	path = rust/sns-kongswap-adaptor
	url = git@github.com:ShahriarJavidi/sns-kongswap-adaptor.git
	branch = ICP-Ninja
