
.container{
    background-color: black;
    color:white;
    background-image: url('../assets/background.png');
    background-size:cover;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .content{
        padding: 100px 16px 0 16px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
        background-color: rgba(7, 3, 86, 0.3);
        border-radius: 16px;
        height: 100%;
    }
    .input-container{
        display: flex;
        flex-grow:1;
        .name-input{
            order:1;
            width: 100%;
            height: 44px;
        }
        .action-button{
            order:2;
            width: 100px;
            height: 50px;
        }
    }
}