.title {
    border: 3px solid black;
}

.life-title {
    margin: 50px auto;
    width: 80vw;
    background-color: darkred;
}

.life-grid {
    background-color: lightblue;
    line-height: 1;
    width: max-content;
    height: max-content;
    display: inline-grid;
    border-style: solid;
    font-size: xx-small;
}

.life-details {
    width: 75vw;
}
