{
  "__Candid_UI": {
    "ic": "a4gq6-oaaaa-aaaab-qaa4q-cai"
  },
  "exchange_rate": {
    "ic": "za3g3-aiaaa-aaaao-qaaca-cai"
  },
  "exchange_rate_assets": {
    "ic": "zh2ap-nqaaa-aaaao-qaacq-cai"
  }
}
