@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'CircularXXWeb', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fcf7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 800px;
  background-color: #fcf7f6;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #7421f0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  text-align: center;
  color: #7421f0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h4 {
  text-align: center;
  color: #7421f0;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.info-box {
  background-color: #f3ded9;
  border: 2px solid #e1796b;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.info-box h2 {
  color: #e1796b;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.info-box h2 i {
  margin-right: 10px;
}

.info-content {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #000000;
}

.info-box p {
  margin-bottom: 12px;
}

.info-box p:last-child {
  margin-bottom: 0;
}

.info-box strong {
  color: #e1796b;
}

button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #e1796b;
  color: #f3ded9;
  border: none;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    transform 0.1s;
  margin: 0.5rem;
  font-weight: bold;
  align-content: center;
}

button:hover {
  background-color: #37d299;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

#content p {
  margin-top: 1rem;
  font-size: 1.1rem;
  word-break: break-all;
  background-color: #f3ded9;
  padding: 10px;
  border-radius: 4px;
  border-left: 3px solid #e1796b;
  align-content: center;
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .info-box {
    padding: 10px;
  }
}
