{
  "__Candid_UI": {
    "ic": "a4gq6-oaaaa-aaaab-qaa4q-cai"
  },
  "exchange_rate": {
    "ic": "zs5rc-myaaa-aaaao-qaaba-cai"
  },
  "exchange_rate_assets": {
    "ic": "zv4xw-baaaa-aaaao-qaabq-cai"
  }
}
