name: motoko-basic-bitcoin
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    paths:
      - motoko/basic_bitcoin/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-basic-bitcoin.yaml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust-basic-bitcoin-darwin:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Provision Darwin
        run: bash .github/workflows/provision-darwin.sh
      - name: Motoko Basic Bitcoin Darwin
        run: |
          .github/workflows/motoko-basic-bitcoin.test.sh
  rust-basic-bitcoin-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Provision Linux
        run: bash .github/workflows/provision-linux.sh
      - name: Motoko Basic Bitcoin Linux
        run: |
          .github/workflows/motoko-basic-bitcoin.test.sh
