name: motoko-vetkd
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - motoko/vetkd/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-vetkd-example.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  motoko-vetkd-darwin:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v1
      - name: Provision Darwin
        env:
          DFX_VERSION: 0.14.2
        run: bash .github/workflows/provision-darwin.sh
      - name: Motoko vetKD Darwin
        run: |
          dfx start --background
          pushd motoko/vetkd
          make test
          popd
  motoko-vetkd-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Provision Linux
        env:
          DFX_VERSION: 0.14.2
        run: bash .github/workflows/provision-linux.sh
      - name: Motoko vetKD Linux
        run: |
          dfx start --background
          pushd motoko/vetkd
          make test
          popd
