name: motoko-actor-reference
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    paths:
      - motoko/actor_reference/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-actor_reference-example.yaml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  motoko-actor-reference-darwin:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v1
      - name: Provision Darwin
        run: bash .github/workflows/provision-darwin.sh
      - name: Motoko Actor Reference Darwin
        run: |
          .github/workflows/motoko-actor-reference.test.sh
  motoko-actor-reference-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Provision Linux
        run: bash .github/workflows/provision-linux.sh
      - name: Motoko Actor Reference Linux
        run: |
          .github/workflows/motoko-actor-reference.test.sh
