name: motoko-life
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - motoko/life/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-life-example.yaml
      - .ic-commit
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  motoko-life-darwin:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v1
      - name: Provision Darwin
        run: bash .github/workflows/provision-darwin.sh
      - name: Motoko Life Darwin
        run: |
          dfx start --background
          pushd motoko/life
          make test
          popd
  motoko-life-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Provision Linux
        run: bash .github/workflows/provision-linux.sh
      - name: Motoko Life Linux
        run: |
          dfx start --background
          pushd motoko/life
          make test
          popd
