name: motoko-encrypted-notes
on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - motoko/encrypted-notes-dapp/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-encrypted-notes-example.yml
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'Not needed - relevant folder not touched'
