name: motoko-whoami
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - motoko/whoami/**
      - .github/workflows/provision-darwin.sh
      - .github/workflows/provision-linux.sh
      - .github/workflows/motoko-whoami-example.yaml
      - .ic-commit
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  motoko-whoami-darwin:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v1
      - name: Provision Darwin
        run: bash .github/workflows/provision-darwin.sh
      - name: Motoko Who Am I Darwin
        run: |
          dfx start --background
          pushd motoko/whoami
          make test
          popd
  motoko-whoami-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Provision Linux
        run: bash .github/workflows/provision-linux.sh
      - name: Motoko Who Am I Linux
        run: |
          dfx start --background
          pushd motoko/whoami
          make test
          popd
