name: rust-composite_query
on:
  push:
    branches:
      - master
#  pull_request:
#    paths-ignore:
#      - rust/composite_query/**
#      - .github/workflows/provision-darwin.sh
#      - .github/workflows/provision-linux.sh
#      - .github/workflows/rust-composite_query-example.yml
#      - .github/workflows/rust-composite_query-skip.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'Not needed - relevant folder not touched'